/* All */
body {
  display: block;
  font-family: "Inter", sans-serif;
  width: 90%;
  margin: auto;
  background-color: #4b81a8bb;
}

/* Header */
#header {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header div {
  display: flex;
  align-items: center;
}

#title {
  font-size: 65px;
  font-weight: 800;
  color: #ffd600;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#moreInfo {
  margin: 0px 40px 0px 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 9px 15px 15px 15px;
  background-color: #ffd600;
  color: black;
  border-color: black;
}

#farenheight {
  background-color: #ffd600;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
}

/* SEARCH FORM  */

#formDiv {
  margin: 10px 0px 20px 0px;
}

#formDiv form {
  /* background-color: yellow; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0px 0px 20px 0px;
}

#inpLabel {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: 5px;
}

#searchInp {
  border: none;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 300;
  width: 400px;
  padding-left: 7px;
  margin-bottom: 15px;
}

#searchBtn {
  margin: 0px 0px 13px 15px;
  width: 100px;
  border-radius: 10px;
  border-color: black;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffd600;
  color: black;
}

/* User alert text */
#alertUser {
  padding-left: 10px;
  font-size: 25px;
  color: rgb(118, 0, 0);
  font-weight: 700;
  opacity: 0%;
}

/* Dynamic boxes */

#gridList {
  display: grid;
  grid-gap: 32px 25px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) {
  #gridList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .box {
    min-width: 218px;
  }
}

@media screen and (max-width: 750px) {
  #gridList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 40px;
  }

  #gridList {
    grid-template-columns: repeat(1, 1fr);
  }

  #searchBtn {
    margin-left: 0px;
  }

  .box {
    margin: auto;
  }

  #searchBtn {
    display: inline-block;
  }
}

.box {
  background-color: #8ca3b3;
  display: block;
  position: relative;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  height: 240px;
  width: 85%;
  padding: 15px 15px 15px 15px;
  z-index: 1;
  min-width: 220px;
  border-style: solid;
  border-color: white;
  min-width: 230px;
}

/* Double box back */
/* .box::before {
  content: "";
  display: block;
  height: 235px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  background-color: rgb(174, 174, 174);
  z-index: -1;
} */

/* City Name */
.box h4 {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

/* Temperature and icon */
.twoColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 155px;
}

.twoColumns :first-child {
  justify-self: flex-start;
  align-self: flex-end;
}

/* Weather Icon */
.weatherIcon {
  height: 160px;
  width: 160px;
  /* margin-bottom: 15px; */
  margin-top: -40px;
  margin-left: -20px;
}

.twoColumns h2 {
  font-size: 55px;
  font-weight: 900;
}

.twoColumns h2 sup {
  font-size: 20px;
}

.twoColumns :last-child {
  justify-self: center;
  align-self: center;
}

/* Weather description */
.box p {
  padding-left: 5px;
  font-size: 22px;
  margin: -14px 0px 0px 0px;
}

#backgroundBlur {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #373636aa;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  display: none;
}

#infoBox {
  height: 540px;
  width: 80%;
  max-width: 700px;
  background-color: aliceblue;
  position: absolute;
  left: 40px;
  top: 140px;
  z-index: 3;
  opacity: 100%;
  border-radius: 20px;
  padding: 22px;
  display: none;
}

#infoBoxHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
